# Problem 1 - Working with RDDs (5 points)

This is an interactive PySpark session. Remember that when you open this notebook the `SparkContext` and `SparkSession` are already created, and they are in the `sc` and `spark` variables, respectively. You can run the following two cells to make sure that the Kernel is active.

**Do not insert any additional cells than the ones that are provided.**

In [1]:
sc

In [2]:
spark

In the following cell, make an RDD called `top1m` that contains the contents of the file `top-1m.csv` that you placed into the cluster's HDFS.

In [3]:
top1m=sc.textFile("top-1m.csv")

There is one element in the RDD for each line in the file. The `.count()` method will compute how many lines are in the file. In the following cell, type the expression to count the lines in the `top1m` RDD. Run the cell and see the result.

In [4]:
top1m.count()

1000000

## Count the `.com` domains

How many of the websites in this RDD are in the .com domain?

In the following cell, write a code snippet that finds the records with `.com` and counts them. (Hint: use a regular expression.)

In [8]:
top1m.map(lambda i: i.endswith('com')).filter(lambda x: x==True).count()

484593

## Histogram the Top Level Domains (TLDs)

What is the distribution of TLDs in the top 1 million websites? We can quickly compute this using the RDD function `countByValue()`.

In the following cell, write a function called `tld` (in Python) that takes a domain name string and outputs the top-level domain.

In [9]:
import re

def tld(i):
    domain= re.compile(r'[a-z]{2,3}').findall(i.lower())[-1]
    return(domain)

In the following cell, map the `top1m` RDD using `tld` into a new RDD called `tlds`.

In [10]:
tlds=top1m.map(lambda x: tld(x))

In the following two cells, evaluate `top1m.first()` and  `tlds.first()` to see if the first line of `top1m` transformed by `tld` is properly represented as the first line of `tlds`.

In [11]:
top1m.first()

u'1,google.com'

In [12]:
tlds.first()

u'com'

Look at the first 50 elements of `top1m` by evaluating `top1m.take(50)`.

In [13]:
top1m.take(50)

[u'1,google.com',
 u'2,youtube.com',
 u'3,facebook.com',
 u'4,baidu.com',
 u'5,wikipedia.org',
 u'6,yahoo.com',
 u'7,qq.com',
 u'8,amazon.com',
 u'9,taobao.com',
 u'10,twitter.com',
 u'11,google.co.in',
 u'12,tmall.com',
 u'13,instagram.com',
 u'14,live.com',
 u'15,vk.com',
 u'16,sohu.com',
 u'17,jd.com',
 u'18,sina.com.cn',
 u'19,reddit.com',
 u'20,weibo.com',
 u'21,google.co.jp',
 u'22,yandex.ru',
 u'23,360.cn',
 u'24,blogspot.com',
 u'25,login.tmall.com',
 u'26,linkedin.com',
 u'27,pornhub.com',
 u'28,google.ru',
 u'29,netflix.com',
 u'30,google.com.br',
 u'31,google.com.hk',
 u'32,google.co.uk',
 u'33,bongacams.com',
 u'34,yahoo.co.jp',
 u'35,google.fr',
 u'36,csdn.net',
 u'37,t.co',
 u'38,google.de',
 u'39,ebay.com',
 u'40,microsoft.com',
 u'41,alipay.com',
 u'42,office.com',
 u'43,twitch.tv',
 u'44,msn.com',
 u'45,bing.com',
 u'46,xvideos.com',
 u'47,microsoftonline.com',
 u'48,mail.ru',
 u'49,pages.tmall.com',
 u'50,ok.ru']

Try the same thing with the `tlds` RDD to make sure that the first 50 lines were properly transformed.

In [14]:
tlds.take(50)

[u'com',
 u'com',
 u'com',
 u'com',
 u'org',
 u'com',
 u'com',
 u'com',
 u'com',
 u'com',
 u'in',
 u'com',
 u'com',
 u'com',
 u'com',
 u'com',
 u'com',
 u'cn',
 u'com',
 u'com',
 u'jp',
 u'ru',
 u'cn',
 u'com',
 u'com',
 u'com',
 u'com',
 u'ru',
 u'com',
 u'br',
 u'hk',
 u'uk',
 u'com',
 u'jp',
 u'fr',
 u'net',
 u'co',
 u'de',
 u'com',
 u'com',
 u'com',
 u'com',
 u'tv',
 u'com',
 u'com',
 u'com',
 u'com',
 u'ru',
 u'com',
 u'ru']

At this point, `tlds.countByValue()` would give us a list of each TLD and the number of times that it appears in the top1m file. Note that this function returns the results as a `defaultDict` in the Python environemnt, not as an RDD. But we want it reverse sorted by count. To do this, we can set a variable called `tlds_and_counts` equal to `tlds.countByValue()` and then reverse the order, sort, and take the top 50, like this:

```
tlds_and_counts = tlds.countByValue()
counts_and_tlds = [(count,domain) for (domain,count) in tlds_and_counts.items()]
```

In the following cell, run the code above to produce the Python Dictionary.

In [15]:
tlds_and_counts = tlds.countByValue()
counts_and_tlds = [(count,domain) for (domain,count) in tlds_and_counts.items()]

In the following cell, reverse sort `counts_and_tlds` and display the first 50.

In [34]:
sorted(counts_and_tlds, key=lambda x: x[0],reverse=True)[:50]

[(484593, u'com'),
 (45610, u'org'),
 (41336, u'net'),
 (40243, u'ru'),
 (34517, u'de'),
 (28186, u'br'),
 (18616, u'uk'),
 (16903, u'pl'),
 (15507, u'ir'),
 (12239, u'it'),
 (12041, u'in'),
 (10346, u'fr'),
 (9411, u'au'),
 (8753, u'jp'),
 (8414, u'inf'),
 (8070, u'cz'),
 (6683, u'es'),
 (6340, u'nl'),
 (6262, u'ua'),
 (6091, u'co'),
 (5706, u'cn'),
 (5634, u'ca'),
 (5627, u'io'),
 (5246, u'tw'),
 (5009, u'eu'),
 (4825, u'ch'),
 (4812, u'kr'),
 (4794, u'gr'),
 (4512, u'mx'),
 (3864, u'se'),
 (3841, u'ro'),
 (3631, u'no'),
 (3608, u'at'),
 (3484, u'me'),
 (3469, u'tv'),
 (3392, u'be'),
 (3277, u'za'),
 (3266, u'hu'),
 (3076, u'vn'),
 (3039, u'sk'),
 (3023, u'ar'),
 (3020, u'us'),
 (2798, u'edu'),
 (2769, u'dk'),
 (2553, u'tr'),
 (2439, u'pt'),
 (2300, u'biz'),
 (2256, u'cl'),
 (2228, u'id'),
 (2154, u'fi')]

**Question:** `top1m.collect()[0:50]` and `top1m.take(50)` produce the same result. Which one is more efficient and why? Put your answer in the cell below.

In [ ]:
## Answer Here (don't run this cell)
The latter one. Because the function of collect will load all of the elements of the RDD, which will spend a lot of time and memory.

When you finish this problem, click on the File -> 'Save and Checkpoint' in the menu bar to make sure that the latest version of the workbook file is saved. Also, before you close this notebook and move on, make sure you disconnect your SparkContext, otherwise you will not be able to re-allocate resources. Remember, you will commit the .ipynb file to the repository for submission (in the master node terminal.)

In [38]:
sc.stop()